<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Book</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <header></header>
    <main>
        <h1>Odin Book</h1>
        <% if (locals.user) { %>
            <h2>Logged in as <%= user.username %></h2>
        <% } %>
        <a href="/logout">Log out</a>
    </main>
    <footer></footer>
</body>
</html>