<nav>
    <div class="logo">&#64;</div>
    <div class="menu">
        <img src="/assets/home.svg" alt="" width="30px">
        <img src="/assets/search.svg" alt="" width="30px">
        <div class="open-modal">
            <img src="/assets/add.svg" alt="" width="30px">
        </div>
        <img src="/assets/heart.svg" alt="" width="30px">
        <img src="/assets/person.svg" alt="" width="30px">
    </div>
    <div class="drawer">
        <%= user.username %>
        <img src="/assets/drawer.svg" alt="" width="30px">
    </div>
</nav>