.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 370px;
    width: 100%;
    margin-bottom: 20px;
}

input {
    background-color: #1e1e1e;
    border: none;
    border-radius: 12px;
    padding: 16px;
}

input:focus {
    outline: 1px solid rgba(243, 245, 247, 0.25);
}

.login-btn,
.signup-btn {
    border: none;
    border-radius: 12px;
    padding: 16px;
    font-weight: 600;
    background-color: #efefef;
}

.logo {
    font-family: Exo;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}