.new-post-block {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 24px;
    padding-bottom: 15px;
}

.post-block {
    padding: 16px 24px;
    display: flex;
    gap: 12px;
    border-top: 1px solid var(--border-color);
    position: relative;
}

.post-block .post-link {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.post-block button,
.post-block a:not(.post-link) {
    position: relative;
    z-index: 2;
}

.post-block:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.post-main {
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-content {
    white-space: pre-line;
}

#trigger-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
}