.post-view {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 24px 0 24px;
}

.comments-header {
    padding: 10px 24px;
}

.post-view-header {
    display: flex;
    align-items: center;
}

.post-view-header > .avatar {
    margin-right: 12px;
}

.post-view-content {
    white-space: pre-line;
    padding-bottom: 5px;
}

.post-view-menu {
    display: flex;
    gap: 24px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
}

.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments {
    display: flex;
    flex-direction: column;
}

.reply-btn {
    border: none;
    border-radius: 10px;
    padding: 6px 16px;
    font-weight: 600;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: inherit;
    outline: none;
}

.comment-likes,
.comment-comments {
    display: flex;
    gap: 6px;
    align-items: center;
}

.depth-1 {
    /* margin-left: 16px; */
    margin-left: -34px;
    border: none;
    padding-bottom: 0;
}

.depth-1 > .post-main {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.depth-1 > .post-main > .post-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    place-self: center;
    margin: 0;
}

.depth-1 > .post-main > .post-menu > .comment-likes {
    display: flex;
    flex-direction: column;
    place-items: center;
}